<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MatchesActivity"></activity>
        <activity android:name=".MessageActivity" />
        <activity android:name=".Buffer" />
        <activity android:name=".AskSkills" />
        <activity android:name=".AskPicture" />
        <activity android:name=".AskPhone" />
        <activity android:name=".Chat" />
        <activity android:name=".OTP2" />
        <activity
            android:name=".cardswiper"
            android:label="@string/title_activity_cardswiper"
            android:theme="@style/AppTheme" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/launch" />

        <activity android:name=".OTP" />
        <activity android:name=".AskEmail" />
        <activity android:name=".AskDOB" />
        <activity android:name=".Askname" />
        <activity android:name=".SignUp" />
        <activity android:name=".Loggedin" />
        <activity android:name=".Profile" />
        <activity android:name=".EditProfile" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>